.icon-trash-2{
  color: red;
}

.icon-edit{
  color: blue;
}

#actionsBtn{
  cursor: pointer;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}

@media screen and (max-width: 768px) {
  #filterAndResetBtn{
    width: 25%;
    margin: 1em 0 0 1em;
  }
  
}