.icon-edit{
    color: blue;
  }
  
  .icon-trash-2{
    color: red;
  }
  
  #actionBtn{
    cursor: pointer;
  }
  
  a{
    cursor: pointer;
  }

.grid-container {
    overflow-x: auto;
    overflow-y: hidden;
}