.icon-trash-2{
  color: red;
  cursor: pointer;
}

.icon-edit{
  color: blue;
  cursor: pointer;
}

.bi-printer{
  color: darkorange;
  cursor: pointer;
}
  
  #actionBtn{
    cursor: pointer;
  }
  
  a{
    cursor: pointer;
  }

.grid-container {
    overflow-x: auto;
    overflow-y: hidden;
}