<div *ngIf="{
        purchaseVoucherList: (purchaseVoucherList$ | async) ?? [],
        qualityList: (qualityList$ | async) ?? [],
        designList: (designList$ | async) ?? []
        
      } as group">

  <div class="col-md-12">
    <app-card cardTitle="" [hidHeader]="true" [options]="false" blockClass="table-border-style">
      <h4 class="d-flex"></h4>
      <h4 class="text-end d-flex flex-row justify-content-between">
        <h4>Purchase Voucher List</h4>
        <div class="d-flex gap-3">

          <button class="btn btn-primary" (click)="navigatePurchaseVoucherDetail()">

            <i class="feather icon-plus"></i>
            Add
          </button>
        </div>
      </h4>
      <!-- <button type="button" *ngIf="inventoryForm.dirty" class="btn btn-primary" [disabled]="inventoryForm.invalid" (click)="uppertInventory()">{{ inventoryForm.value.id === 0 ? "Save" : "Update" }}</button> -->
      <hr />
      <div>
  
        <ag-grid-angular #agGrid 
         [rowSelection]="'multiple'"
         [pagination]="true"
         [paginationPageSize]="10"
         domLayout="autoHeight" 
         [rowData]="group.purchaseVoucherList" 
         style="width: 100%" 
         [columnDefs]="colDefs"
         class="ag-theme-quartz">
        </ag-grid-angular>
      </div>
    </app-card>
  </div>
</div>