<div *ngIf="{
    qualityList: (qualityList$ | async) ?? [],
    designList: (designList$ | async) ?? [],
    primaryStoneList: (primaryStoneList$ | async) ?? [],
    sizeList: (sizeList$ | async) ?? [],
    supplierUserList: (supplierUserList$ | async) ?? [],
    artisanList: (artisanList$ | async) ?? []
  } as group">
  <div class="col-md-12">
    <app-card cardTitle="" [hidHeader]="true" [options]="false">
      <form [formGroup]="inventoryForm">
        <div class="d-flex w-100 justify-content-between gap-2 flex-wrap">
          <h5 class="m-0">{{ inventoryForm.value.id === 0 ? "Add" : "Edit" }} Inventory</h5>
          <div class="d-flex gap-1 align-items-center">
            <div [ngStyle]="{
              'background-color': inventoryInStock ? 'green' : 'red',
              'height': '15px',
              'width': '15px',
              'border-radius': '50%'
            }"></div>
            <p class="p-0 m-0">{{inventoryInStock ? 'Available' : 'Sold Out'}}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <!-- select quality -->
            <div class="form-group">
              <label for="qualityType">Quality<span class="required">*</span></label>
              <input class="form-control text-capitalize" type="text" [ngbTypeahead]="searchQuality" id="qualityType"
                formControlName="qualityType" placeholder="Ex: Pachekaari">
              <ul *ngIf="qualityType.touched && qualityType.invalid">
                <li *ngIf="qualityType.errors?.['required']" class="text-danger">Quality is required</li>
                <li *ngIf="qualityType.errors?.['message']" class="text-danger">{{ qualityType.errors?.["message"] }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <!-- select Product Name -->
            <div class="form-group">
              <label for="product">Product Name<span class="required">*</span></label>
              <input class="form-control text-capitalize" type="text" [ngbTypeahead]="searchProductName" id="product"
                formControlName="product" placeholder="Ex: Table Top">
              <ul *ngIf="product.touched && product.invalid">
                <li *ngIf="product.errors?.['required']" class="text-danger">Product Name is required</li>
                <li *ngIf="product.errors?.['message']" class="text-danger">{{ product.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <!-- select PC -->
            <div class="form-group">
              <label for="productNameCode">Product Name Code<span class="required">*</span></label>
              <input class="form-control text-capitalize" type="text" id="productNameCode"
                formControlName="productNameCode" placeholder="Ex: TT">
              <ul *ngIf="productNameCode.touched && productNameCode.invalid">
                <li *ngIf="productNameCode.errors?.['required']" class="text-danger">product Name Code is required</li>
                <li *ngIf="productNameCode.errors?.['message']" class="text-danger">{{
                  productNameCode.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select design -->
            <div class="form-group">
              <label for="design">Design<span class="required">*</span></label>
              <input class="form-control text-capitalize" type="text" [ngbTypeahead]="searchDesign" id="design"
                formControlName="design" placeholder="Ex: Flower Border">
              <ul *ngIf="design.touched && design.invalid">
                <li *ngIf="design.errors?.['required']" class="text-danger">Design is required</li>
                <li *ngIf="design.errors?.['message']" class="text-danger">{{ design.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select size -->
            <div class="form-group">
              <label for="size">Size<span class="required">*</span></label>
              <input type="text" class="form-control" id="size" placeholder="Ex: 24*48" formControlName="size"
                [ngbTypeahead]="searchSize" />
              <ul *ngIf="size.touched && size.invalid">
                <li *ngIf="size.errors?.['required']" class="text-danger">Size is required</li>
                <li *ngIf="size.errors?.['message']" class="text-danger">{{ size.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select Shape -->
            <div class="form-group">
              <label for="shape">Shape<span class="required">*</span></label>
              <input type="text" class="form-control" id="shape" placeholder="Ex: REC" formControlName="shape"
                [ngbTypeahead]="searchShape" />
              <ul *ngIf="shape.touched && shape.invalid">
                <li *ngIf="shape.errors?.['required']" class="text-danger">Shape is required</li>
                <li *ngIf="shape.errors?.['message']" class="text-danger">{{ shape.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select primaryStone -->
            <div class="form-group">
              <label for="primaryStone">Primary Stone<span class="required">*</span></label>
              <input type="text" class="form-control text-capitalize" id="primaryStone" placeholder="Ex: White"
                formControlName="primaryStone" [ngbTypeahead]="searchColour" />
              <ul *ngIf="primaryStone.touched && primaryStone.invalid">
                <li *ngIf="primaryStone.errors?.['required']" class="text-danger">Colour is required</li>
                <li *ngIf="primaryStone.errors?.['message']" class="text-danger">{{ primaryStone.errors?.["message"] }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <!-- select primaryColor -->
            <div class="form-group">
              <label for="primaryColor">Primary Colour<span class="required">*</span></label>
              <input type="text" class="form-control text-capitalize" id="primaryColor" placeholder="Ex: Mix"
                formControlName="primaryColor" [ngbTypeahead]="searchPrimaryColor" />
              <ul *ngIf="primaryColor.touched && primaryColor.invalid">
                <li *ngIf="primaryColor.errors?.['required']" class="text-danger">Colour is required</li>
                <li *ngIf="primaryColor.errors?.['message']" class="text-danger">{{ primaryColor.errors?.["message"] }}
                </li>
              </ul>
            </div>
          </div>

          <!-- select quantity -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="quantity">Quantity<span class="required">*</span></label>
              <input type="number" class="form-control" id="quantity" placeholder="Ex: 1" formControlName="quantity" />
              <ul *ngIf="quantity.touched && quantity.invalid">
                <li *ngIf="quantity.errors?.['required']" class="text-danger">quantity is required</li>
                <li *ngIf="quantity.errors?.['message']" class="text-danger">{{ quantity.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <!-- select No Of Stones -->
            <div class="form-group">
              <label for="stonesNb">No Of Stones</label>
              <input type="number" class="form-control" id="stonesNb" placeholder="Ex: 1" formControlName="stonesNb" />
              <!-- <ul *ngIf="stonesNb.touched && stonesNb.invalid">
                <li *ngIf="stonesNb.errors?.['required']" class="text-danger">No Of Stones is required</li>
                <li *ngIf="stonesNb.errors?.['message']" class="text-danger">{{ stonesNb.errors?.["message"] }}</li>
              </ul> -->
            </div>
          </div>

          <div class="col-md-6">
            <!-- select supplierId -->
            <div class="form-group">
              <label for="supplierId">Supplier<span class="required">*</span></label>
              <select id="supplierId" class="form-control" formControlName="supplierId">
                <option value="0">Select</option>
                <option *ngFor="let supplier of group.supplierUserList" value="{{ supplier.id }}">{{ supplier.name }} ({{supplier.userCode}})
                </option>
              </select>
            </div>
          </div>

          <!-- <div class="col-md-6">
            select quantity
            <div class="form-group">
              <label for="quantity">Image</label>
              <input type="file" class="form-control" id="quantity" (change)="onFileSelected($event)" formControlName="file"/>
            </div>
          </div> -->

          <!-- select CP -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="costPrice">Cost Price</label>
              <input type="number" class="form-control" id="costPrice" placeholder="Enter Cost Price"
                formControlName="costPrice" />
              <!-- <ul *ngIf="costPrice.touched && costPrice.invalid">
                <li *ngIf="costPrice.errors?.['required']" class="text-danger">Cost Price is required</li>
                <li *ngIf="costPrice.errors?.['message']" class="text-danger">{{ costPrice.errors?.["message"] }}</li>
              </ul> -->
            </div>
          </div>

          <div class="col-md-6">
            <!-- select SP -->
            <div class="form-group">
              <label for="sellingPrice">Selling Price<span class="required">*</span></label>
              <input type="number" class="form-control" id="sellingPrice" placeholder="Enter Selling Price"
                formControlName="sellingPrice" />
              <ul *ngIf="sellingPrice.touched && sellingPrice.invalid">
                <li *ngIf="sellingPrice.errors?.['required']" class="text-danger">Selling Price is required</li>
                <li *ngIf="sellingPrice.errors?.['message']" class="text-danger">{{ sellingPrice.errors?.["message"] }}
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-3" *ngIf="inventoryForm.get('id')?.value != 0">
            <!-- select Product Code -->
            <div class="form-group">
              <label for="sp">Product Code<span class="required">*</span></label>
              <input type="text" class="form-control" id="productCode" placeholder="Ex: 1"
                formControlName="productCode" />
              <ul *ngIf="productCode.touched && productCode.invalid">
                <li *ngIf="productCode.errors?.['required']" class="text-danger">Product Code is required</li>
                <li *ngIf="productCode.errors?.['message']" class="text-danger">{{ productCode.errors?.["message"] }}
                </li>
              </ul>
            </div>
          </div>

          <!-- select Rate -->
          <!-- <div class="col-md-6" *ngIf="rateField">
            <div class="form-group">
              <label for="rate">Rate<span class="required">*</span></label>
              <input type="number" class="form-control" id="rate" placeholder="Enter Rate" formControlName="rate" />
              <ul *ngIf="rate.touched && rate.invalid">
                <li *ngIf="rate.errors?.['required']" class="text-danger">Rate is required</li>
                <li *ngIf="rate.errors?.['message']" class="text-danger">{{ rate.errors?.["message"] }}</li>
              </ul>
            </div>
          </div> -->

          <!-- select Sadekaar -->
          <!-- <div class="col-md-6" *ngIf="sadekaarField">
            <div class="form-group" >
              <label for="sadekaar">Sadekaar<span class="required">*</span></label>
              <input type="number" class="form-control" id="sadekaar" placeholder="Enter Selling Price" formControlName="sadekaar" />
              <ul *ngIf="sadekaar.touched && sadekaar.invalid">
                <li *ngIf="sadekaar.errors?.['required']" class="text-danger">Sadekaar is required</li>
                <li *ngIf="sadekaar.errors?.['message']" class="text-danger">{{ sadekaar.errors?.["message"] }}</li>
              </ul>
            </div>
          </div> -->

          <!-- select Design Amt -->
          <!-- <div class="col-md-6" *ngIf="designAmtField">
            <div class="form-group" >
              <label for="designAmt">Design Amt<span class="required">*</span></label>
              <input type="number" class="form-control" id="designAmt" placeholder="Enter Selling Price" formControlName="designAmt" />
              <ul *ngIf="designAmt.touched && designAmt.invalid">
                <li *ngIf="designAmt.errors?.['required']" class="text-danger">Design Amt is required</li>
                <li *ngIf="designAmt.errors?.['message']" class="text-danger">{{ designAmt.errors?.["message"] }}</li>
              </ul>
            </div>
          </div> -->


        </div>

        <div class="form-group">
          <label for="isExempted" class=" m-r-10">Exemption</label>
          <input type="checkbox" class="form-control" id="isExempted" class=" m-r-10"  formControlName="isExempted" />
          <label for="isExempted" class=" m-r-10">Yes</label>
        </div>
      </form>
      <div class="col-md-12">


        <div class="form-group" *ngIf="inventoryForm.value.id">
          <input type="checkbox" id="editSameGuid" (click)="editInventoryByGuid($event)" class=" m-r-10" />

          <label for="editSameGuid">Apply changes to all similar items</label>
        </div>

        <button type="button" class="btn btn-outline-primary m-r-15" [routerLink]="'/inventory'">Cancel</button>
        <!-- <button type="button" class="btn btn-outline-primary m-r-15" (click)="generateCode()">Generate  Code</button> -->
        <button type="button" *ngIf="inventoryForm.dirty" class="btn btn-primary m-r-15 " [disabled]="inventoryForm.invalid"
          (click)="updateInventory()">{{ inventoryForm.value.id === 0 ? "Save" : "Update" }}</button>
          <button type="button" *ngIf="inventoryForm.dirty  && inventoryForm.value.id == 0" class="btn btn-primary" [disabled]="inventoryForm.invalid"
          (click)="updateInventory(true)">Save and Print</button>
          <button type="button" *ngIf="inventoryForm.dirty  && inventoryForm.value.id" class="btn btn-primary" [disabled]="inventoryForm.invalid"
          (click)="updateInventory(true)">Update and Print</button>
      </div>
    </app-card>
  </div>
</div>