<div
  *ngIf="{
    roleList: (roleList$ | async) ?? []
  } as group"
>
  <div class="col-md-12">
    <app-card cardTitle="" [hidHeader]="true" [options]="false">
      <form [formGroup]="userForm">
        <h5>{{ userForm.value.id === 0 ? "Add" : "Edit" }} User</h5>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <!-- select user role -->
            <div class="form-group">
              <label for="userRole">User Role<span class="required">*</span></label>
              <select class="form-control" id="userRole" formControlName="roleId">
                <option value="0">Select</option>
                <option *ngFor="let role of group.roleList" value="{{ role.id }}">{{ role.role }}</option>
              </select>
              <ul *ngIf="roleId.touched && roleId.invalid">
                <li *ngIf="roleId.errors?.['required']" class="text-danger">Role is required</li>
                <li *ngIf="roleId.errors?.['message']" class="text-danger">{{ roleId.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- enter name -->
            <div class="form-group">
              <label for="name">Name<span class="required">*</span></label>
              <input type="text" class="form-control text-capitalize" id="name" placeholder="Ex: John" formControlName="name" />
              <ul *ngIf="name.touched && name.invalid">
                <li *ngIf="name.errors?.['required']" class="text-danger">Name is required</li>
                <li *ngIf="name.errors?.['message']" class="text-danger">{{ name.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select gender -->
            <div class="form-group">
              <label for="gender">Gender<span class="required">*</span></label>
              <select class="form-control" id="gender" formControlName="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <ul *ngIf="gender.touched && gender.invalid">
                <li *ngIf="gender.errors?.['required']" class="text-danger">Gender is required</li>
                <li *ngIf="gender.errors?.['message']" class="text-danger">{{ gender.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6" *ngFor="let mobile of mobileNumberList.controls; let i=index">
            <!-- enter mobileNumber -->
            <div class="form-group">
              <label for="mobileNumber">Mobile Number<span class="required">*</span></label>
              <div class="input-group" formArrayName="mobileNumberList">
                <input class="form-control"[formControlName]="i" placeholder="Ex: 1234567890">
                <button class="btn btn-outline-danger" type="button" (click)="removeMobile(i)">
                  <i class="feather icon-minus"></i>
                </button>
                <button class="btn btn-outline-primary" type="button" (click)="addMobile()">
                  <i class="feather icon-plus"></i>
                </button>
              </div>
              <!-- <input type="text" class="form-control" id="mobileNumber" placeholder="Ex: 012345678" formControlName="mobileNumber" /> -->
            </div>
            <!-- <ul *ngIf="mobileNumber.touched && mobileNumber.invalid">
              <li *ngIf="mobileNumber.errors?.['required']" class="text-danger">Mobile Number is required</li>
              <li *ngIf="mobileNumber.errors?.['message']" class="text-danger">{{ mobileNumber.errors?.["message"] }}</li>
            </ul> -->
          </div>
          <div class="col-md-6" *ngFor="let email of emailAddressList.controls; let i=index">
            <!-- enter email -->
            <div class="form-group">
              <label for="email">E-mail</label>
              <div class="input-group" formArrayName="emailAddressList">
                <input class="form-control"[formControlName]="i" placeholder="Ex: xyz@gmail.com">
                <button class="btn btn-outline-danger" type="button" (click)="removeEmail(i)">
                  <i class="feather icon-minus"></i>
                </button>
                <button class="btn btn-outline-primary" type="button" (click)="addEmail()">
                  <i class="feather icon-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- enter pincode -->
            <div class="form-group">
              <label for="pincode">Pincode</label>
              <input type="text" class="form-control" id="pinCode" placeholder="Ex: 282002" formControlName="pinCode" />
            </div>
          </div>

          <div class="col-md-6" *ngIf="id.value !== 0">
            <!-- password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" formControlName="password" placeholder="Ex: abc123">
              <!-- <ul *ngIf="password.touched && password.invalid">
                <li *ngIf="password.errors?.['required']" class="text-danger">Password is required</li>
                <li *ngIf="password.errors?.['message']" class="text-danger">{{ password.errors?.["message"] }}</li>
              </ul> -->
            </div>
          </div>

          <div class="col-md-6">
            <!-- residential address -->
            <div class="form-group">
              <label for="residentialAddress">Residential Address</label>
              <textarea class="form-control text-capitalize" id="residentialAddress" rows="1" formControlName="residentialAddress"></textarea>
              <ul *ngIf="residentialAddress.touched && residentialAddress.invalid">
                <li *ngIf="residentialAddress.errors?.['required']" class="text-danger">Residential Address is required</li>
                <li *ngIf="residentialAddress.errors?.['message']" class="text-danger">{{ residentialAddress.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select country -->
            <div class="form-group">
              <label for="country">Country</label>
              <input type="text" class="form-control text-capitalize" id="country" formControlName="country" />
              <ul *ngIf="country.touched && country.invalid">
                <li *ngIf="country.errors?.['required']" class="text-danger">Country is required</li>
                <li *ngIf="country.errors?.['message']" class="text-danger">{{ country.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6">
            <!-- select city -->
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control text-capitalize" id="city" formControlName="city" />
              <ul *ngIf="city.touched && city.invalid">
                <li *ngIf="city.errors?.['required']" class="text-danger">City is required</li>
                <li *ngIf="city.errors?.['message']" class="text-danger">{{ city.errors?.["message"] }}</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <!-- User Code -->
            <div class="form-group" *ngIf="showSupplierCode">
              <label for="showSupplierCode">Supplier Code<span class="required">*</span></label>
              <input type="text" class="form-control text-capitalize" id="name" placeholder="Ex: MM" formControlName="supplierCode" />
              <!-- <ul *ngIf="supplierCode.touched && supplierCode.invalid">
                <li *ngIf="supplierCode.errors?.['required']" class="text-danger">Name is required</li>
                <li *ngIf="supplierCode.errors?.['message']" class="text-danger">{{ name.errors?.["message"] }}</li>
              </ul> -->
            </div>
          </div>



        </div>
      </form>
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary m-r-15" [routerLink]="'/users'">Cancel</button>
        <button type="button" *ngIf="userForm.dirty" class="btn btn-primary" [disabled]="userForm.invalid" (click)="uppertUser()">{{ userForm.value.id === 0 ? "Save" : "Update" }} </button>
      </div>
    </app-card>
  </div>
</div>
