<div
  *ngIf="{
    pendingPaymentList: (pendingPaymentList$ | async) ?? [],
  } as group"
>
  <div class="col-xl-12">
    <app-card cardTitle="" [hidHeader]="true" [options]="false" blockClass="table-border-style">
      <h4 class="d-flex"></h4>
      <h4 class="text-end d-flex flex-row justify-content-between">
        <h4>Pending Payments</h4>
        <!-- <button class="btn btn-primary" [disabled]="selectedIds.length==0" (click)="pendingOrderClick()">
          Send Reminder
        </button> -->
        <!-- total functinality is written to send alerts and just need to uncomment the code in html and ts file -->
      </h4>
      <hr />
      <div *ngIf="isPaymentLoading || isSaleLoading || isUserLoading" class="loader-container d-flex justify-content-center py-3">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    <ag-grid-angular 
    *ngIf="!isPaymentLoading && !isSaleLoading && !isUserLoading"
        [pagination]="true" 
        [paginationPageSizeSelector]="paginationPageSize" 
        [paginationPageSize]="10" 
        [defaultColDef]="agGridService.defaultColDef" 
        domLayout="autoHeight" 
        style="width: 100%" 
        class="ag-theme-quartz" 
        [rowData]="group.pendingPaymentList" 
        [columnDefs]="colDefs"> 
      </ag-grid-angular>
      
      <!-- <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Order No.</th>
              <th>Customer Name</th>
              <th>Payment Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of group.pendingPaymentList | sortDescending: 'desc' | paginate: pagingConfig; let i = index">
              <td>{{ payment.createdOn | date: 'mediumDate' }}</td>
              <td>{{ payment.orderNumber }}</td>
              <td>{{ payment.customerId | getClientNameById | async | titlecase}}</td>
              <td class="{{ 'payment-'+payment.paymentStatus }}">{{ paymentStatusService.getPaymentStatusDisplayName(payment.paymentStatus) }}</td>
              <td class="text-center">
                <i class="feather icon-edit" id="actionsBtn" (click)="navigatePendingPayment(payment.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pagingConfig.currentPage = $event"> </pagination-controls>
      </div> -->
    </app-card>
  </div>
</div>
