.icon-edit {
    color: blue;
}

.icon-trash-2 {
    color: red;
}

#actionsBtn {
    cursor: pointer;
}

#isFullPaymentTrue {
    color: darkgreen;
}

#isFullPaymentFalse {
    color: crimson;
}

.payment-0 {
    color: crimson;
}

.payment-1 {
    color: darkorange;
}

.payment-7 {
    color: darkgreen;
}