.icon-trash-2{
  color: red;
  cursor: pointer;
}

.icon-edit{
  color: blue;
  cursor: pointer;
}

.bi-printer{
  color: darkorange;
  cursor: pointer;
}

.icon-image{
  color: skyblue;
  cursor: pointer;
}

.bi-check2-circle{
  color: green;
  cursor: pointer;
}

.bi-eye{
  color: darkcyan;
  cursor: pointer;
}