<div
  *ngIf="{
    saleList: (saleList$ | async) ?? [],
    voucherList: (voucherList$ | async) ?? [],
  } as group"
>
  <div class="col-md-12">
    <app-card cardTitle="Link Sale" [hidHeader]="false" [options]="false">
      <form [formGroup]="linkSaleForm">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="orderNumber">Order Number</label>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-select #saleSelect formControlName="saleMasterId" (openedChange)="onSaleDropdownOpen()" panelClass="sale-lazy-load-panel">
                  <div>
                    <input (keydown.space)="$event.stopPropagation()" style="width: 100%; margin: 5px 0; height: 40px;" placeholder="Search Order Number" (input)="onSaleInputChange($event)">
                  </div>
                  <mat-option [value]="0">Select</mat-option>
                  <mat-option *ngFor="let sale of filteredSaleList;" [value]="sale.id">
                    {{ sale.orderNumber + ' - ' + (sale.customerId | getClientNameById | async | titlecase)
                     + ' - ' + (sale.salesManId | getUserByRoleId | async | titlecase) }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button class="btn btn-primary m-r-10" [disabled]="linkSaleForm.invalid || (voucherId.value == '0' && invoiceNo.value == '')" (click)="linkSaleClick()">Save</button>
            <button class="btn btn-primary" [disabled]="saleMasterId.errors?.['min']" (click)="openDeleteConfirmationModal()">Remove</button>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="voucherCode">Voucher Code</label>
              <mat-form-field appearance="fill" style="width: 100%;">
                <mat-select #voucherSelect formControlName="voucherId" (openedChange)="onVoucherDropdownOpen()" panelClass="voucher-lazy-load-panel">
                  <div>
                    <input style="width: 100%; margin: 5px 0; height: 40px;" placeholder="Search Voucher Code" (input)="onVoucherInputChange($event)">
                  </div>
                  <mat-option [value]="0">Select</mat-option>
                  <mat-option *ngFor="let voucher of filteredVoucherList;" [value]="voucher.id">
                    {{ voucher.voucherCode + '/ ' + voucher.companyName + '/ ' + voucher.guideName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="invoiceNo">Invoice No</label>
              <input type="text" class="form-control" id="invoiceNo" formControlName="invoiceNo">
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>